<main id="main" class="container">
  <section id="main-posts" style="display: none;">
    <h4 class="index-topic">記事</h4>
    <% var post_count = 0 %>
    <% page.posts.sort('date', -1).limit(10).each(function(post) { %>
      <% post_count++ %>
      <% var collapse = (post_count<=1?'collapse in':'collapse') %>
      <article>
        <dl class="dl-horizontal">
          <dt>
            <a style="color:#34495e;" title="Click me" data-toggle="collapse" href="#<%= post_count %>" aria-expanded="false" aria-controls="<%= post.title%>">
            <%- time_tag(post.date, 'MMM DD, YYYY') %>
            </a>
          </dt>
          <dd><a href="<%= url_for(post.path) %>"><%= post.title %></a></dd>
          <dd class="<%= collapse %>" id="<%= post_count %>">
            <small><%= strip_html(post.excerpt) %></small>
          </dd>
        </dl>
      </article>
    <% }) %>
  </section>

  <div class="post-nav" style="display: none;">
    <ul class="pager">
      <% if (page.prev) { %>
        <li class="previous"><a href="<%- url_for(page.prev_link) %>">PREV</a></li>
      <% } else { %>
        <li class="previous">
          <a href="<%= url_for('/archives/') %>">ARCHIVE</a>
        </li>
      <% } %>
    
      <% if (page.next){ %>
        <li class="next"><a href="<%- url_for(page.next_link) %>">NEXT</a></li>
      <% } else { %>
        <li class="next">
          <a href="<%= url_for('/archives/') %>">ARCHIVE</a>
        </li>
      <% } %>
    </ul>
  </div>

  <section id="main-bottom" style="display: none;">
    <h6>(ฅ´ω`ฅ)</h6>
      <div class="bottom-tools small">
        <% if (theme.bottomtools.hitokoto) { %>
          <div id="hitokoto">
            <p>Hitokoto&nbsp; · &nbsp;&nbsp;Hitokoto Loading...</p>
          </div>
        <% } %>
        <p class="bottom-tool-flag">
          <span style="padding-right: 1px;">Flags</span> · &nbsp;
          <a href="<%= url_for('/archives/') %>"> &归档 </a>&nbsp; · &nbsp;
          <a href="<%= url_for('/friends/') %>"> &友链 </a>&nbsp; · &nbsp;
        </p>

        <% if (theme.bottomtools.category) { %>
          <p class="bottom-tool-category">
            <span style="padding-right: 1px;">Category</span> · &nbsp;
              <% site.categories.each(function(cat) { %>
                <a href="<%= url_for(cat.path) %>"><%= cat.name.toUpperCase() %></a>&nbsp; · &nbsp;
              <% }) %>
          </p>
        <% } %>

        <% if (theme.bottomtools.tag) { %>
          <p class="bottom-tool-tag">
            <span style="padding-right: 1px;">Tag</span> · &nbsp;
            <% site.tags.each(function(tag) { %>
              <a href="<%= url_for(tag.path) %>"> &<%= tag.name.toUpperCase() %> </a>&nbsp; · &nbsp;
            <% }) %>
          </p>
        <% } %>
      </div>
  </section>
</main>
