<main id="main" class="container">
  <section id="main-pages">
    <h5 class="index-topic"><%- titlecase(page.title) %></h5>

    <div class="page-content">
      <% for (let name in site.data.friends) { %>
        <a title="<%= name %>" href="<%= site.data.friends[name].link %>" target="_blank">
          <div class="friend">
            <img class="friend-avatar" alt="<%= name %>" src="<%= site.data.friends[name].avatar %>">
          </div>
        </a>
      <% } %>
    </div>
  </section>
</main>
